# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Uploaded files
uploads/*
!uploads/.gitkeep

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store